@charset "utf-8";
/* index CSS */

body{
	margin:0;
}

#storbox
{ background-color:#f5efc1;
width:100%;
height:100%;
position:absolute;
overflow:auto;
}

article
{
background-color:#f5efc1;
width:100%;
height:100%;
}

#ClassicLongbowText
{
	margin-top:5%;
	overflow:hidden;
	padding-left:5%;
	padding-right:5%;
	
}

#ClassicLongbowText h1
{
	padding:1%;
}

section
{
	
background-color:#71554f;
width:10%;
height:100%;
float:left;
font-family:Vivaldi;
font-size:68px;
}

#sectionbxboge
{
	width:100%;
	height:0%;
	margin:12%;
	margin-top:25%;
	color:#c2714e;
}

#sectionbxboge2
{
	width:100%;
	height:0%;
	margin:12%;
	margin-top:120%;
	color:#c2714e;
}
#sectionbxboge3
{
  font-size:56px;
	width:100%;
	height:0%;
	margin:12%;
	margin-top:120%;
	color:#c2714e;
}

aside
{
background-color:#dabe7d;
width:20%;
height:100%;
float:right;

}

header
{
	
background-color:#f5efc1;
width:70%;
height:20%;
float:left;
	
}

#headerimg
{
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:70%;
}

nav
{
background-color:#f5efc1;
width:0%;
height:0%;
}

footer
{
background-color:#bc9439;
width:0%;
height:0%;
}

@media screen and (max-width: 1420px) {

	/*section {
		width: 100%;
		height: 20%;
		background-color:#CF3;
	}*/
	
#sectionbxboge
{
	font-size:38px;
	width:100%;
	height:0%;
	margin:12%;
	margin-top:20%;
	}

#sectionbxboge2
{
	font-size:38px;
	width:100%;
	height:0%;
	margin:12%;
	margin-top:120%;
}
	#sectionbxboge3
{
  font-size:38px;
	width:100%;
	height:0%;
	margin:12%;
	margin-top:120%;
}

#ClassicLongbowText
{
	font-size:9px;
	padding-left:10%;
	padding-right:10%;
	
}

header
{
	
background-color:#f5efc1;
width:70%;
height:20%;
float:left;
	
}

}


@media screen and (max-width: 980px) {

	/*section {
		width: 100%;
		height: 20%;
		background-color:#CF3;
	}*/
	
#sectionbxboge
{
	font-size:36px;
	width:100%;
	height:0%;
	margin:12%;
	margin-top:20%;
	}

#sectionbxboge2
{
	font-size:36px;
	width:100%;
	height:0%;
	margin:12%;
	margin-top:120%;
	
}
	#sectionbxboge3
{
  font-size:36px;
	width:100%;
	height:0%;
	margin:12%;
	margin-top:120%;
	
}

#ClassicLongbowText
{
	font-size:9px;
	padding-left:10%;
	padding-right:10%;
	
}

header
{
	
background-color:#f5efc1;
width:70%;
height:20%;
float:left;
	
}

}

@media screen and (max-width: 750px) {

	/*section {
		width: 100%;
		height: 20%;
		background-color:#CF3;
	}*/
	
#sectionbxboge
{
	font-size:24px;
	width:100%;
	height:0%;
	margin:12%;
	margin-top:20%;
	}

#sectionbxboge2
{
	font-size:24px;
	width:100%;
	height:0%;
	margin:12%;
	margin-top:160%;
}
	#sectionbxboge3
{
  font-size:24px;
	width:100%;
	height:0%;
	margin:12%;
	margin-top:180%;
}



}

@media screen and (max-width: 510px) {

	/*section {
		width: 100%;
		height: 20%;
		background-color:#CF3;
	}*/
	
#sectionbxboge
{
	font-size:16px;
	width:100%;
	height:0%;
	margin:12%;
	margin-top:120%;
	}

#sectionbxboge2
{
	font-size:16px;
	width:100%;
	height:0%;
	margin:12%;
	margin-top:200%;
}
	#sectionbxboge3
{
  font-size:16px;
	width:100%;
	height:0%;
	margin:12%;
	margin-top:240%;
}



}



@media screen and (max-width: 400px) {

	/*section {
		width: 100%;
		height: 20%;
		background-color:#CF3;
	}*/
	
#sectionbxboge
{
	font-size:16px;
	width:100%;
	height:0%;
	margin:12%;
	margin-top:120%;
	}

#sectionbxboge2
{
	font-size:16px;
	width:100%;
	height:0%;
	margin:12%;
	margin-top:240%;
}
	#sectionbxboge3
{
  font-size:16px;
	width:100%;
	height:0%;
	margin:12%;
	margin-top:260%;
}



}


@media screen and (max-width: 330px) {

	/*section {
		width: 100%;
		height: 20%;
		background-color:#CF3;
	}*/
	
#sectionbxboge
{
	font-size:14px;
	width:100%;
	height:0%;
	margin:12%;
	margin-top:120%;
	}

#sectionbxboge2
{
	font-size:14px;
	width:100%;
	height:0%;
	margin:12%;
	margin-top:240%;
}
	#sectionbxboge3
{
  font-size:14px;
	width:100%;
	height:0%;
	margin:12%;
	margin-top:260%;
}

#ClassicLongbowText
{
	font-size:1px;
	padding-left:10%;
	padding-right:10%;
	
}

}

@media screen and (max-width: 736px) {

#ClassicLongbowText
{
	font-size:9px;
	padding-left:10%;
	padding-right:10%;
	
}

header
{
	
background-color:#f5efc1;
width:70%;
height:8%;
float:left;
	
}

}

@media screen and (max-height: 680px) {


}

@media screen and (max-height: 568px) {

#ClassicLongbowText
{
	font-size:8px;
	padding-left:10%;
	padding-right:10%;
	
}

}
