@charset "utf-8";
/* CSS Document */
body
{
	background-image:url(deepForestGreenLake.jpg);
	background-size:cover;
	padding:0;
	margin:0;
}


#storbox
{
width:100%;
height:100%;
position:absolute;
color:#FFF;
}
#bannerbox
{
	width:50%;
	margin-left:20%;
}
header
{
background-color:rgba(153,153,153,0.8);
color:#D58453;
/*width:63.1%;margin-left:18%;*/
width:100%;
height:30%;

	
}
nav
{
width:50%;
height:10%;
background-color:#FF0;
margin-left:25%;
color:#000;
}

#ubisoftbox
{
width:100%;
margin-left:0%;
}

article
{
width:50%;
height:50%;
background-color:#60C;
margin-left:25%;
}



#wallpaper
{ width:80%;
height:80%;
	
	
}